<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="CoherentRX_Production" connectionString="Data Source=10.1.203.33;Initial Catalog=CoherentRX_Production;User ID=CRX_ProductionDB;Password=2@c45m1t4;Connection Timeout=120;Column Encryption Setting=Enabled" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <!-- EmailTemplate -->
  <appSettings>
    <!--<add key="emailtemplatehtmlresourcepath" value="d:\websites\crx_admin\resources\shelbytemplates" />
    <add key="emailtemplateresourcepath" value="d:\websites\crx_admin\resources\images\emailtemplate" />
    <add key="logfilepath" value="d:\websites\scheduledjobs\covidremindereveryhour\process.log" />-->

    <add key="EmailTemplateHtmlResourcePath" value="C:\Users\leeyesh\Documents\GitHub\DashboardV2\DashboardV2\Admin\Resources\ShelbyTemplates" />
    <add key="EmailTemplateResourcePath" value="C:\Users\leeyesh\Documents\GitHub\DashboardV2\DashboardV2\Admin\Resources\Images\EmailTemplate" />
        <add key="logfilepath" value="C:\Users\leeyesh\Documents\GitHub\GetURLEncodeForEmailIDs\GetURLEncodeForEmailIDs\GetURLEncodeForEmailIDs\Process.log" />

    <!-- Keys and tokens for the encryption -->
    <add key="TokenVector" value="17A58D4B8B408A83" />
    <add key="TokenKey" value="59EDCBA9A0FEA3B6961ECE5943540B7CAC269A4F85A297E4" />


  </appSettings>

</configuration>